<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="de" xml:lang="de">
	<head>
		<title>Chunky applikations</title>
		<meta http-equiv="content-type" content="text/html; charset=utf8" />
		<%= stylesheet_link_tag('layout') %>
	</head>
	<body>
		<div id="page">
			<div id="header">
			<%= image_tag "logo_CMYK_M.jpg", :width => 327, :height => 75 %><br />
				<% if flash[:notice] %>
					<div id="notice">Error:<p><%= flash[:notice] %></p></div>
				<% end%>
				<br />
				<% if flash[:message] %>
					<div id="message"><p><%= flash[:message] %></p></div>
				<% end%>
			</div>
			<div id="main">
				<div id="content">
					<%= yield %>
				</div>
			</div>
			<div id="footer">
				<a href="/help.html">help</a> | 
				<%= link_to 'General',{:controller => "chunks", :action => "list_links"} %> | 
				<%= link_to "show all available links", {:controller => "chunks", :action => "list_links"} %> |
				<%= link_to "show expired links", {:controller => "chunks", :action => "list_expired_links"} %> |
				<%= link_to "show all files or upload", {:controller => "uploadedfiles", :action => "index"} %> 
			</div>
		</div>
	</body>
</html>